@(request: play.mvc.Http.Request)
<html>
<head>
    <title>Gitterific - Commit</title>
    <script type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/commit.js")'></script>  
</head>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body data-ws-url="@routes.HomeController.wsCommit.webSocketURL(request)">
<center><h1 id="title"></h1></center>
<h3>Top 10 Committers</h3>
<ul id="topCommitters">
</ul>
<h3>Addition and Deletion Statistics</h3>
<table>
	<tr>
	    <th></th>
		<th>Maximum</th>
		<th>Minimum</th>
		<th>Average</th> 
	</tr>
	<tr>
	    <th>Addition</th>
	    <td id="max_add"></td>
	    <td id="min_add"></td>
	    <td id="avg_add"></td>
	</tr>
	<tr>
	    <th>Deletion</th>
	    <td id="max_del"></td>
	    <td id="min_del"></td>
	    <td id="avg_del"></td>
	</tr>
</table>
</body>
</html>