@(request: play.mvc.Http.Request)
<!DOCTYPE html>

<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<head>
    <title>Gitterific</title>
    <script type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>  
</head>
<body data-ws-url="@routes.HomeController.ws.webSocketURL(request)">
    <center><h2>Gitterific</h2></center>
    <center>
			<form id="addsymbolform">
			 Search : <input id="addsymboltext" type="text" name="query" required></input>
			 <input type="submit" value="Go"></input>
			</form>
    </center>
    <center>
    	<table id="repo">
    		<tr>
			    <th>User</th>
			    <th>Repository</th>
			    <th>Issues</th>
			    <th>Topics</th>
			    <th>Commit Statistics</th>
             </tr>
    	</table>
    </center>
</body>
</html>